* { box-sizing: border-box;}

html, body {
   height: 100%;
   margin: 0;
}

body {
   background: url('../images/pink_rice.png');
   font-size: 18px;
   line-height: 34px;
   font-family: 'Dosis','Arial', 'Helvetica Neue', Helvetica, sans-serif;
   color: #470a0a;
}

h1, h2, h3 {
   font-family: 'Passion One', 'Georgia', Times, 'Times New Roman', serif;
   font-weight: 700;
   color: #ec36a6;
}

h1 {
   font-size: 30px;
   line-height: 49px;
   padding-bottom: 20px;
   border-bottom: 3px solid rgb(16, 215, 230);
}

.row{
   margin-left: 3px;
}

h2, h3 {
   font-size: 22px;
}

/* header */


#logo {
   margin-left: 15px;
   font-family: 'Cookie', 'Georgia', Times, 'Times New Roman', serif;
   font-weight: 700;
   font-size: 50px;
   background: #4aaaa5;
   color: #fff;
}

.navbar {
   min-height: 80px;
}

.navbar-brand {
   padding: 0 15px;
   height: 80px;
   line-height: 80px;
}
.navbar-right > li {
   margin-top: 15px;
   border-left: 1px solid #efefef;
}

.navbar-right > li:first-of-type
{
   border-left: none;
}

/* main */

#main-container {
   min-height: 100%
}

.main-section {
   padding: 30px;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   background: #fff;
}


.social {
   width: 62px;
   height: 62px;
   margin-top: 8px;
   margin-right: 5px;
}

.social:last-child {
   margin-right: 0;
}
#tealText{
   color: #4aaaa5;
    margin-left: 20px;
}

/* portfolio */

.thumbnail
{
   max-width: 100%;
   position: relative;
   border: none;
}

.caption {
   position: absolute;
   bottom: 20px;
   left: 0;
   width: 100%;
}

.work img {
   opacity: .8;
}

.work h3 {
   padding: 15px;
   line-height: 30px;
   border-bottom: 0;
   margin-bottom: 0;
   text-align: center;
   font-weight: 300;
   background: #ec36a6;
   color: #fff;
}

.work:hover img {
   opacity: 1;
}

/* contact */

textarea
{
   max-width: 100%;
}

.btn-default
{
   background-color: #ec36a6;
   color: #fff;
}
/* footer */
html, body {
    height: 100%;
}

.navbar-absolute + div {
margin-top: 68px;
}

#footer {
   width: 100%;
    color:white;
    background: #666666;
    padding: 17px 0 18px 0;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}
#footer a {
    color: white;
}
#footer a:hover {
    color: pink;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 40px;
}

.container{
   margin: 0;
   width: 100%;
   padding:0;
}

/* not required for sticky footer; just pushes hero down a bit */

